name: Run linters, tests, and collect coverage

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main
      - "release/**/*"
  pull_request:
    branches:
      - main
      - "release/**/*"
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

defaults:
  run:
    shell: bash

env:
  FORCE_COLOR: 1
  RUFF_OUTPUT_FORMAT: github
  TERM: xterm-256color # https://github.com/python/mypy/issues/13817
  UV_LOCKED: 1
  UV_NO_SYNC: 1

jobs:
  lint:
    if: ${{ !github.event.pull_request.draft }}

    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - uses: astral-sh/setup-uv@v7

      - if: ${{ github.event_name == 'pull_request' }}
        name: pre-commit hooks
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: >-
            --from-ref ${{ github.event.pull_request.base.sha }}
            --to-ref HEAD

      - if: ${{ github.event_name == 'pull_request' }}
        name: fobid merge commits
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: >-
            --hook-stage manual
            --from-ref ${{ github.event.pull_request.base.sha }}
            --to-ref ${{ github.event.pull_request.head.sha }}
            forbid-merge

      - run: uv sync

      - if: ${{ github.event_name != 'pull_request' }}
        run: |
          uv run ruff format --diff
          uv run ruff check

      - run: uv run mypy --pretty

  test:
    if: ${{ !github.event.pull_request.draft }}

    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        coverage: [false]
        exclude:
          - python-version: "3.13"
        include:
          - python-version: "3.13"
            coverage: true

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - run: uv sync

      - if: ${{ !matrix.coverage }}
        run: |
          uv run pytest -vs
          # no doctests for now
          # uv run pytest -vs src --doctest-modules

      - if: ${{ matrix.coverage }}
        run: |
          uv run coverage run
          # no doctests for now
          # uv run coverage run -a -m pytest -vs src --doctest-modules
          uv run coverage xml

      - if: ${{ matrix.coverage }}
        uses: codecov/codecov-action@v5
        with:
          disable_search: true
          files: ./coverage.xml
          fail_ci_if_error: true
          verbose: true
          use_oidc: true

  conclusion-lint-test:
    needs: [lint, test]
    runs-on: ubuntu-latest
    if: ${{ always() && github.event_name == 'pull_request' && !github.event.pull_request.draft }}
    steps:
      - run: |
          if [[ $success != 'true' ]]; then
            echo "One or more jobs failed."
            exit 1
          fi
        env:
          success: ${{ needs.lint.result == 'success' && needs.test.result == 'success' }}

concurrency:
  group: ${{ github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name != 'push' || github.ref_type != 'tag' }}
